<h1> Search for a restaurant to make a reservation </h1>
	<%= form_tag restaurants_search_path, :method => 'get' do %>
  		<p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search for a Restaurant", :name => nil %>
  		</p>
<% end %>

<!--- 
Search Function only finds restaurants listed in the current page.  How do you link the search function to the database?
	-->


<!---
Add a link to view more details of each restaurants 
	-->

